.checkout{
    display: flex;
    background-color:gray;
    flex-direction: row;
    height: 80%;
    width: 75%;
    margin-left: 10%;
}
.left-side{
    height: 80%;
    width: 50%;
    margin-right: 1px;
    align-content: center;
}

.right-side{
    display: flex;
    height: 80%;
    width: 50%;
    margin-left: 1px;
    align-content: center;
}
.gametimeButton{

    height: 50px;
    width: 100px;
    margin-left: 20%;
}