.checkout{
    display: flex;
    background-color:white;
    flex-direction: row;
    height: 800px;
    width: 1000px;
    margin-left: 10%;
}
.left-side{
    height: 800px;
    width: 500px;
    margin-right: 1px;
    align-content: center;
}

.right-side{
    display: flex;
    height: 800px;
    width: 500px;
    margin-left: 1px;
    align-content: center;
}
.gametimeButton{
    height: 50px;
    width: 100px;
    align-items: center;
}